<!-- ************************************************************
//  section01
// ************************************************************ -->
<!-- prettier-ignore -->
<%  
  const data = [
    {
      title: "氏名*",
      type: "text",
      value: "",
      placeholder: "山田 太郎",
      id: "name",
      dataRegex: "false" // 正規表現エラーチェック有無
    },
    {
      title: "フリガナ*",
      type: "text",
      value: "",
      placeholder: "ヤマダ タロウ",
      id: "furigana",
      dataRegex: "false"
    },
    {
      title: "会社名*",
      type: "text",
      value: "",
      placeholder: "株式会社BALANCe",
      id: "company",
      dataRegex: "false"
    },
    {
      title: "役職*",
      type: "text",
      value: "",
      placeholder: "",
      id: "title",
      dataRegex: "false"
    },
    {
      title: "メールアドレス*",
      type: "email",
      value: "",
      placeholder: "sample@gmail.com",
      id: "email",
      dataRegex: "true"
    },
    {
      title: "電話番号*",
      type: "tel",
      value: "",
      placeholder: "山田 太郎",
      id: "tel",
      dataRegex: "true"
    },
  ];

  const radiodata = [
    {
      title: "企画・設計から",
      value: "企画・設計",
      id: "planning",
    },
    {
      title: "デザインから",
      value: "デザイン",
      id: "design",
    },
    {
      title: "コーディング・開発から",
      value: "コーディング・開発",
      id: "coding",
    },
  ];

  const checkdata = [
    {
      title: "webサイト制作",
      value: "website",
      id: "website",
    },
    {
      title: "機能・UI・ビジュアルの部分開発",
      value: "function",
      id: "function",
    },
    {
      title: "プロダクト開発（webサービス、アプリ）",
      value: "product",
      id: "prodcut",
    },
    {
      title: "ゲーム開発",
      value: "game",
      id: "game",
    },
  ];
%>

<div class="section01">
  <div class="section01__inner">
    <!-- title -->
    <div class="section01__titlewrap">
      <p class="section01__title">お問い合わせフォーム</p>
    </div>

    <!-- form -->
    <div class="section01__form">
      <form action="" method="" class="form">
        <!-- contents -->
        <div class="form__contents">
          <ul class="form__list">
            <!-- input -->
            <% for (let i = 0; i < data.length; i++) { %>
            <li class="form__item">
              <div class="form__titlearea">
                <p class="form__title"><%= data[i].title %></p>
              </div>
              <div class="form__inputarea">
                <div class="form__inputarea-inner">
                  <div class="form__inputarea-bg js-form_inputbg"></div>
                  <input
                    class="js-form_input input_normal"
                    id="<%= data[i].id %>"
                    name="<%= data[i].id %>"
                    type="<%= data[i].type %>"
                    value="<%= data[i].value %>"
                    placeholder="<%= data[i].placeholder %>"
                    data-regex="<%= data[i].dataRegex %>"
                  />
                </div>
              </div>
            </li>
            <%}%>

            <!-- radio -->
            <li class="form__item -radio">
              <div class="form__titlearea -radio">
                <p class="form__title">相談フェーズ</p>
              </div>
              <div class="form__radioarea">
                <ul class="form__radio-list">
                  <% for (let i = 0; i < radiodata.length; i++) { %>
                  <li class="form__radio-item">
                    <input
                      id="<%= radiodata[i].id %>"
                      name="相談フェーズ"
                      type="radio"
                      value="<%= radiodata[i].value %>"
                    />
                    <label for="<%= radiodata[i].id %>" class="-radio"
                      ><%= radiodata[i].title %></label
                    >
                  </li>
                  <%}%>
                </ul>
              </div>
            </li>

            <!-- checkbox -->
            <li class="form__item -check">
              <div class="form__titlearea -check">
                <p class="form__title">相談内容</p>
              </div>
              <div class="form__checkarea">
                <ul class="form__check-list">
                  <% for (let i = 0; i < checkdata.length; i++) { %>
                  <li class="form__check-item">
                    <input
                      class="input -radio"
                      id="<%= checkdata[i].id %>"
                      name="相談内容"
                      type="checkbox"
                      value="<%= checkdata[i].value %>"
                    />
                    <label for="<%= checkdata[i].id %>" class="-check"
                      ><%= checkdata[i].title %></label
                    >
                  </li>
                  <%}%>
                </ul>
              </div>
            </li>

            <!-- txtarea -->
            <li class="form__item">
              <div class="form__titlearea">
                <p class="form__title">お問い合わせ内容*</p>
              </div>

              <div class="form__inputarea">
                <div class="form__inputarea-inner">
                  <div class="form__inputarea-bg js-form_inputbg"></div>
                  <textarea
                    class="js-form_input"
                    id="txtarea"
                    name="contents"
                    cols="30"
                    rows="10"
                    value=""
                    placeholder="お問い合わせ内容をご記入ください。"
                  ></textarea>
                </div>
              </div>
            </li>
          </ul>

          <!-- privacy -->
          <div class="form__privacyarea">
            <div class="form__privacytxtwrap">
              <input
                class="js-form_checkbox"
                id="privacy"
                name=""
                type="checkbox"
                value=""
              />
              <label for="privacy" class="-check">
                <a href="#" class="hover_op">プライバシポリシー</a
                >に同意する</label
              >
            </div>
          </div>
        </div>

        <!-- errorarea -->
        <div class="form__errorarea">
          <p class="form__errortxt js-form_errormessage">
            ※正しく入力されていない項目があります。<br />メッセージをご確認の上、もう一度ご入力下さい。
          </p>
        </div>

        <!-- btnarea -->
        <div class="form__btnarea">
          <div class="form__btnwrap js-formbtn">
            <div class="btn01">
              <input type="submit" />
              <div class="btn01__txt">入力内容を確認</div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
